body {
    /*background-color: #323232;*/
    background-color: #15202b;
    /*background-image: url('../images/background.png');*/
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: absolute;
    left: 0;
    margin-top: 0px;
    padding: 8px;
    padding-left: 0;
    background-color: #15202b;
}

.navbar a {
    position: relative;
    text-align: center;
    display: block;
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
    padding: 10px;
    text-shadow: 0 0 5px black;
}

.navbar a:hover {
    background-color: rgb(204, 133, 2);
    border: rgb(204, 133, 2) solid 2px;
}

.navbar a:active {
    color: red;
}

.menulabel {
    font-size: 18px;
    font-family: Arial;
    background-color: black;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: black 2px solid;
    border-radius: 10px;
    text-shadow: 0 0 10px #fff;
    font-weight: bold;
}


.signup-form-form {
    margin: 5px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    font-size: 10px;
    color: red;
}

.successful {
    font-size: 20px;
    color: green;
}

#headmainpage {
    position: relative;
    font-size: 40px;
    margin-top: 200px;
    font-weight: bold;
    text-shadow: 0 5px 10px yellow, 0 -5px 15px rgb(0, 110, 255);
    animation-name: headtext;
    animation-duration: 4s;

    display: block;
    font-family: Arial;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    background-color: #f2f2f2;
    color: black;
    border: solid #2d0000 2px;
    border-radius: 10px;
}

@keyframes headtext {
    0% {font-size: 10px;}
    40% {font-size: 20px;}
    80% {font-size: 30px;}
    100% {font-size: 40px;}
}

header img {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 30%
}

.gametext {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.headergame {
    display: block;
    font-size: 15px;
    text-align: left;
    font-family: Arial;
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
    border: solid #2d0000 2px;
    border-radius: 2px;
}

.dailyreward {
    display: block;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
    border: solid #2d0000 2px;
    border-radius: 10px;
}

.headergame th, .headergame td {
    border: solid black 3px;
    padding: 7px;
    width: 100%;
}

.headergame th {
    font-weight: bold;
    background-color: darkred;
    color: white;
}

.signup-form {
    position: relative;
    display: block;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px red;
    font-size: 35px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: black;
}

    .signup-form input[type=text], .signup-form input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid black;
        box-shadow: 0 0 2px 2px black;
        border-radius: 4px;
        transition: 1s ease-in-out;
        background-color: lightgrey;
        color: black;
    }

.signup-form input[type=text]:focus, .signup-form input[type=password]:focus {
    width: 55%;
    padding: 14px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    box-shadow: 0 0 10px green;
    border-radius: 4px;
}

.signup-form button[type=button], .signup-form button[type=submit], .signup-form button[type=reset] {
    background-color: darkred;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}

button {
    background-color: darkred;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}

.setup-form {
    font-size: 15px;
}

.signup-form select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 0 10px red;
    border-radius: 4px;
    transition: 1s ease-in-out;
}

.signup-form select:hover {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 0 10px red;
    border-radius: 4px;
}

.gamemenu {

    color: white;

}

#money-view {
    position:absolute;
    top: 2px;
    left: 2px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
}

#moneyadd-view {
    position: absolute;
    top: 2px;
    left: 152px;
    background-color: lightgreen;
    color: green;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
    font-weight: bold;
}

#population-view {
    position: absolute;
    top: 27px;
    left: 2px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
}

#bm-view {
    position: absolute;
    top: 103px;
    left: 2px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
}

#rp-view {
    position: absolute;
    top: 52px;
    left: 2px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
}

#time-view {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
    animation: blinkingBackground 10s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blinkingBackground{
    0%		{ background-color: black; color: white;}
    50%	    { background-color: #f2f2f2; color: black;}
    100%	{ background-color: black; color: white;}
}

#happiness-view {
    position: absolute;
    top: 2px;
    right: 130px;
    background-color: #f2f2f2;
    color: black;
    padding: 3px;
    border: 1px solid orange;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px orange;
}

#happinesswarning {
    font-size: 10px;
    color: red;
}

#bank {
    position: relative;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

::selection {
    color: black;
    background-color: orange;
}

.taxrate {
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    margin: 30px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
    border: solid #2d0000 2px;
    border-radius: 2px;
}

.taxrate button {
    background-color: darkred;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}

.taxrate input[type=range] {
    color: red;
    background-color: black;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darkred;
    cursor: pointer;
 }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: darkred;
    cursor: pointer;
}

.nationstable {
    display: block;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    margin-left: 250px;
    margin-right: 250px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.nationstable th, .nationstable td {
    border: solid #2d0000 3px;
    border-radius: 10px;
    padding: 10px;
    width: 152px;
    transition: 0.5s;
    margin: 0;
    background-color: #f2f2f2;
}

#index-num {
    width: 40px;
}

.nationstable th:hover, .nationstable td:hover {
    background-color: lightgoldenrodyellow;
}

.nationstable th {
    font-weight: bold;
    background-color: darkred;
    color: white;
}

.itemstable {
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #f2f2f2;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.itemstable th, .itemstable td {
    border: solid #2d0000 3px;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    transition: 0.5s;
    margin: 0;
}

.itemstable th:hover, .itemstable td:hover {
    background-color: lightgoldenrodyellow;
}

.itemstable th {
    background-color: #f5e7e7;
    font-weight: bold;
}

#nationsheader {
    position: relative;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.emoji {
    width: 20px;
    height: auto;
    vertical-align:baseline;
}


.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative;
    background-color: black;
    padding: 20px;
    margin: auto;
    width: 75%;
    color: white;
    border: white solid 4px;
    border-radius: 5px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
    cursor:pointer;
  }
  @-webkit-keyframes animatetop {
    from {top:500px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:500px; opacity:0}
    to {top:0; opacity:1}
  }

#modal-btn {
    background-color: darkred;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}

#citiestable {
    margin-left: 150px;
    margin-right: 150px;
}

#citiesheader {
    position: relative;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.itemstableheader {
    position: absolute;
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #15202b;
}

.itemstableheader td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid orange;
}

.itemstableheader p {
    border-bottom: 2px solid orange;
    margin-bottom: 5px;
    background-color: darkred;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.citiestable th, .citiestable td {
    border: solid #2d0000 3px;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    transition: 0.5s;
    margin: 0;
}

.citiestable {
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    background-color: #f2f2f2;
    color: black;
}

.buildingstable {
    display: block;
    font-size: 15px;
    text-align: center;
    font-family: Arial;
    margin-left: 250px;
    margin-right: 250px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.buildingstable th, .buildingstable td {
    border: solid #2d0000 3px;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    transition: 0.5s;
    margin: 0;
    background-color: #f2f2f2;
}

.buildingstable th {
    font-weight: bold;
    background-color: darkred;
    color: white;
}

#nationlink {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

#nationlink:hover {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: 74px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
