@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --black: black;
  --red: darkred;
  --white: #f2f2f2;
  --lightgreen: lightgreen;
}

body {
  /*background-color: #323232;*/
  /*!background-color: #15202b;*/
  background: url('../images/background1.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  overflow-x: hidden;
  
}

.emoji {
  margin: 0;
  width: auto;
  height: 17px;
  vertical-align:bottom;
}

.emojilarge {
  margin: 0;
  padding: 0;
  width: auto;
  height: 25px;
  vertical-align:-7px;
}

main {
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
}

#citiescpt {
  text-decoration: none;
  color: navy;
  
  transition: 0.5s;
}

#citiescpt:hover {
  font-size: 17px;
  color: var(--red);
  font-weight: bold;
}

.overlay {
  border-left: none;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  height: auto;
  width: 10%;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: ease all 0.7s;
  background-color: var(--black);
  opacity: 0.8;
  border-radius: 0 10px 10px 0;
  filter:drop-shadow(0 0 0.75rem var(--black));
}

.overlay-content {
  position: relative;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overlay a {
  padding: 3px;
  padding-left: 7px;
  padding-right: 0px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
  background-color: var(--black);
  margin: 2px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0 0px 0px 0;
  border: darkred solid 0px;
  border-left: none;
  text-align: left;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  background-color: darkred;
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 60px;
  margin-right: 380px;
  z-index: 100;
  box-shadow: none;
  visibility: hidden;
}

.navbar {
  position: block;
  left: 0;
  margin-top: 0px;
  padding: 8px;
  padding-left: 0;
  background-color: transparent;
}

.navbar span {
  position: relative;
  text-align: center;
  display: block;
  background-color: darkred;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-left: 0px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  border: black solid 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.5s;
  padding: 10px;
  text-shadow: 0 0 5px black;
  width: 40px;
  margin-top: 20px;
}

.navbar a:hover {
  background-color: rgb(204, 133, 2);
  border: rgb(204, 133, 2) solid 2px;
}

.navbar a:active {
  color: red;
}

.menulabel {
  font-size: 14px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0px 0px 0;
  font-weight: bold;
  background-color: darkred;
  color: white;
}

.signup-form-form {
  margin: 5px;
  margin-top: 15px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
}

.error {
  font-size: 10px;
  color: red;
}

.successful {
  font-size: 20px;
  color: green;
}

#headmainpage {
  position: relative;
  font-size: 30px;
  margin-top: 200px;
  font-weight: bold;
  text-shadow: 0 5px 10px yellow, 0 -5px 15px rgb(0, 110, 255);
  animation-name: headtext;
  animation-duration: 4s;

  display: block;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin: 30px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
  background-color: #f2f2f2;
  color: black;
  border: solid #2d0000 2px;
  border-radius: 10px;
}

@keyframes headtext {
  0% {
    font-size: 1px;
  }
  40% {
    font-size: 5px;
  }
  80% {
    font-size: 10px;
  }
  100% {
    font-size: 30px;
  }
}

#logo,
header img {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 30%;
}

.gametext {
  margin-top: 20px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
}

.headergame {
  display: block;
  font-size: 15px;
  text-align: left;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin: 30px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
  background-color: #f2f2f2;
  color: black;
  border: solid #2d0000 2px;
  border-radius: 2px;
}

/* TODO: Halloween Update */
.headergame .badge {
  position: absolute;
  top: -50px;
  right: 10px;
  padding: 0px 5px;
  border-radius: 50%;
  color: white;
}

/* TODO: Halloween Update */
.emojihalloween {
  margin: 0;
  padding: 0;
  width: auto;
  height: 70px;
  vertical-align:-7px;
}

.dailyreward {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin: 30px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
  background-color: #f2f2f2;
  color: black;
  border: solid #2d0000 2px;
  border-radius: 10px;
}

.headergame th,
.headergame td {
  border: solid black 3px;
  padding: 7px;
  width: 100%;
}

.headergame th {
  font-weight: bold;
  background-color: darkred;
  color: white;
}

.signup-form {
  position: relative;
  display: block;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 50px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  background-color: #f2f2f2;
  color: black;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="number"] {
  width: 40%;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  transition: 1s ease-in-out;
  background-color: darkred;
  color: white;
  margin-bottom: 2px;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="password"]:focus,
.signup-form input[type="number"]:focus {
  box-sizing: border-box;
  border: 2px solid darkred;
  border-radius: 4px;
  outline: none;
}

.signup-form button[type="button"],
.signup-form button[type="submit"],
.signup-form button[type="reset"],
.signup-form input[type="submit"] {
  background-color: darkred;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

button {
  background-color: darkred;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

.setup-form {
  font-size: 15px;
}

.signup-form select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  transition: 1s ease-in-out;
}



.signup-form select:focus {
  background-color: black;
  color: white;
}


.signup-form option {
  background-color: white;
  color: black;
  padding: 8px;
  width: 100%;
  font-size: 16px;
}

.gamemenubutton {
  color: white;
  visibility: hidden;
}

#money-view {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid white;
  border-radius: 10px;
}

.resources-overview span {
  vertical-align: bottom;
}

#moneyadd-view {
  position: absolute;
  top: 33px;
  left: 4px;
  background-color: lightgreen;
  color: green;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid lightgreen;
  border-radius: 10px;
  font-weight: bold;
}

#population-view {
  position: absolute;
  top: 61px;
  left: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid white;
  border-radius: 10px;
}

#bm-view {
  position: absolute;
  top: 105px;
  left: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  border: 1px solid orange;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px orange;
}

#rp-view {
  position: absolute;
  top: 90px;
  left: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid white;
  border-radius: 10px;
}

#time-view {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  border: 1px solid white;
  border-radius: 10px;
}

#happiness-view {
  position: absolute;
  top: 4px;
  right: 134px;
  background-color: #f2f2f2;
  color: black;
  padding: 3px;
  border: 1px solid white;
  border-radius: 10px;
}

#happinesswarning {
  font-size: 10px;
  color: red;
}

#bank {
  position: relative;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

::selection {
  color: black;
  background-color: orange;
}

.taxrate {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin: 30px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
  background-color: #f2f2f2;
  color: black;
  border: solid #2d0000 2px;
  border-radius: 2px;
}

.taxrate button {
  background-color: darkred;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

.taxrate input[type="range"] {
  color: red;
  background-color: black;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: darkred;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: darkred;
  cursor: pointer;
}

.nationstable {
  display: table;
  font-size: 15px;
  text-align: left;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin-left: 250px;
  margin-right: 250px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  width: 61%;
}

.nationstable th,
.nationstable td {
  border: solid #2d0000 3px;
  border-radius: 10px;
  padding: 7px;
  width: 100px;
  transition: 0.5s;
  margin: 0;
  background-color: #f2f2f2;
}

.nationstable th:hover,
.nationstable td:hover {
  background-color: lightgoldenrodyellow;
}

.nationstable th {
  font-weight: bold;
  background-color: darkred;
  color: white;
}

.itemstable {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin-left: 240px;
  margin-right: 240px;
  background-color: #f2f2f2;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.itemstable th,
.itemstable td {
  border: solid #2d0000 3px;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  transition: 0.5s;
  margin: 0;
}

.itemstable th:hover,
.itemstable td:hover {
  background-color: lightgoldenrodyellow;
}

.itemstable th {
  background-color: #f5e7e7;
  font-weight: bold;
}

#nationsheader {
  position: relative;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: black;
  padding: 20px;
  margin: auto;
  width: 75%;
  color: white;
  border: white solid 4px;
  border-radius: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {
    top: 500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: 500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#modal-btn {
  background-color: darkred;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}

#citiestable {
  margin-left: 150px;
  margin-right: 150px;
}

#citiesheader {
  position: relative;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.itemstableheader {
  position: absolute;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  color: black;
  margin-top: 60px;
  margin-bottom: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  transition-duration: 1s;
}

.itemstableheader td {
  padding-top: 5px;
  font-size: 17px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  color: white;
  border: 2px solid black;
}

.itemstableheader p {
  border-bottom: 2px solid orange;
  margin-bottom: 5px;
  background-color: darkred;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.citiestable th,
.citiestable td {
  border: solid #2d0000 3px;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  transition: 0.5s;
  margin: 0;
}

.citiestable {
  font-size: 15px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  background-color: #f2f2f2;
  color: black;
}

.buildingstable {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  margin-left: 250px;
  margin-right: 250px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.buildingstable th,
.buildingstable td {
  border: solid #2d0000 3px;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  transition: 0.5s;
  margin: 0;
  background-color: #f2f2f2;
}

.buildingstable th {
  font-weight: bold;
  background-color: darkred;
  color: white;
}

#nationlink {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

#nationlink:hover {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: 74px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.rsprod {
  font-size: 10px;
  color: lightgreen;
  font-weight: bold;
}

#marketbutton {
  position: relative;
  display: block;
  background-color: darkred;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  width: 40px;
}

.nationstable .marketBuy {
  background-color: darkred;
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px black solid;
}

.nationstable .marketBuy:hover {
  background-color: black;
}

.markettd input[type=number] {
  width: 50px;
  height: 20px;
  background-color: grey;
  color: black;
  border: black 2px solid;
  border-radius: 5px;
}

.nationstable .markettd {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.scrollingtxt {
  height: 50px;
  position: relative;
  background-color: darkred;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  opacity: 0.8;
  border-radius: 10px;
  filter:drop-shadow(0 0 0.75rem var(--black));
}

.scrollingtxt span {
  margin-right: 10px;
  margin-left: 10px;
  background-color: darkred;
  color: white;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.scrollingtxt span .weatherinfo {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.scrollingtxt img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  vertical-align: -13px;
}

.scrollingtxt h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.marquee {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 1s;
}

  .marquee:before,
  .marquee:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, black 3%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, black 3%, transparent 100%);
  }


.marquee__content {
  width: 300% !important;
  display: flex;
  line-height: 30px;
  animation: marquee 45s linear infinite forwards;
  
}

.marquee:hover {
  animation: hoverboard 1.5s;
}

@keyframes hoverboard {
  0% {}
  50% {opacity:1;}
  100% {opacity:0.8;}
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;

  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-120%);
  }
}

#eventbutton {
  position: relative;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 10px;
  margin-left: 0px;
  bottom: 20px;
  border-radius: 0 10px 10px 0;
  transition: 0.3s;
}

#eventbutton:hover {
  background-color: orange;
}

#tradebloc {
  border: 2px black solid;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: "Twemoji Country Flags", Arial;
  width: 50%;
  border: black 2px solid;
  border-radius: 4px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: darkred;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
  cursor: pointer;
  user-select: none;
  text-shadow: 2px 2px 5px black;
}

/*style items (options):*/
.select-items {
  position: relative;
  background-color: darkred;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#setuplabel {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:5px;
  border-bottom: 2px black solid; 
  width: 400px;
  border-radius: 0px;
}

.hidemobile {
  visibility: visible;
}

.flag {
  font-size: 100px;
  vertical-align: middle;
}

#flag {
  text-align: center;
  color: white;
  border: none;
  background-color: black;
}

#flag1 {
  border: none;
  border-right: none;
}

#userprofile {
  position: relative;
  width: 100px;
  height: 100px;
  color: white;
  background-position-x: center;
  border: none;
  display: block;
  background-color: darkred;
  border-radius: 0;
}

.userprofile {
  bottom: -2px;
  right: 2px;
}

#userprofiletext {
  position: relative;
  background-color: black;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
  border-radius: 10px;
  align-content: center;
  display: initial;
  bottom: 25px;
}

#flagtext {
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  font-size: 40px;
  vertical-align: 19px;
}

#flag2 {
  border-left: none;
  text-align: left;
}

#eventbutton .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0px 5px;
  border-radius: 50%;
  background: darkred;
  color: white;
}

@keyframes coolanimation {
  0% {
    background-color: white;
    color: black;
  }
  50%{
    background-color: orange;
    color: white;
  }
  100%{
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 1000px) {
  .hidemobile {
    visibility: hidden;
  }
  
  #headmainpage {
    margin-left: 5px;
    margin-right: 5px;
  }

  .headergame {
    margin-left: 5px;
    margin-right: 5px;
  }

  .itemstableheader {
    position: relative;
    font-size: 15px;
    text-align: center;
    font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
  }

  .itemstableheader td {
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
    border: 2px solid orange;
    width: 1000px;
  }

  .itemstableheader p {
    border-bottom: 2px solid orange;
    margin-bottom: 5px;
    background-color: darkred;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }

  .signup-form {
    position: relative;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 50px;
    font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: black;
  }

  .signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="number"] {
  width: 50%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px black;
  border-radius: 4px;
  transition: 1s ease-in-out;
  background-color: lightgrey;
  color: black;
}

  .buildingstable {
    margin-left: 5px;
    margin-right: 5px;
  }

  .nationstable {
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
  }

  .taxrate {
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar span {
    position: relative;
    text-align: center;
    display: block;
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 0px;
    font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
    border: black solid 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
    padding: 10px;
    text-shadow: 0 0 5px black;
    width: 50px;
    margin-top: 20px;
  }

  .dailyreward {
    margin-left: 5px;
    margin-right: 5px;
  }

  #time-view {
    display: none;
  }

  #happiness-view {
    right: 2px;
  }

  #rp-view {
    display: none;
  }

  .overlay {
    font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-image: url('../images/background1.webp');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: visible;
    transition: ease all 0.7s;
    opacity: 1;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 120px;
  }
  
  .overlay a {
    position: relative;
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    border: white solid 2px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 60px;
    padding: 5px;
    z-index: 100;
    box-shadow: none;
    margin-right: 10px;
    visibility: visible;
  }

.menulabel {
  font-size: 18px;
  font-family: "Twemoji Country Flags", 'Poppins', sans-serif;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}

.gamemenubutton {
  color: white;
  visibility: visible;;
}

.marquee {
  width: 95%;
}

}
